name: Scheduled Jobs

on:
  schedule:
    - cron: '0 0 * * *'

permissions:
  contents: read
  actions: none
  id-token: none
  security-events: none

jobs:
  call_reusable_scheduled:
    name: OSV-Scanner and Scorecards
    permissions:
      contents: read
      actions: read           # Required to upload SARIF file to CodeQL. See: https://github.com/github/codeql-action/issues/2117
      security-events: write  # Require writing security events to upload SARIF file to security tab
      id-token: write         # Needed to access GitHub's OIDC token which verifies the authenticity of the result when publishing it.
    uses: sonupreetam/org-infra-tests/.github/workflows/reusable_scheduled.yml@main
